.container{
    text-align: center;
}

.foto{
    margin: auto;
    width: 200px;
    height: 350px;
}

.foto > img{
    width: 100%;
    height: 100%;
}

.bottone{
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
    margin: auto;
    background-color: green;
    cursor: pointer;
}

.active{
    display: inline-block;
}

.hidden{
    display: none;
}

